<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - Signin</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}
        <!-- Login Section -->
        <body>
            <header class="sign-in">
                <h2>개인정보수정</h2>
                <ul>
                    <!-- <form id="sign-in"> -->
                    <form method="POST" action="{%url 'change_persnal'%}">
                    {% csrf_token %}
                    <li>
                      <h>이메일</h>
                      <div style="border: 0.5px solid black; padding: 10px">
                      {{authuser.email}}</div>
                    </li> 
                    <li>
                        <h>사용자아이디</h>
                        <div style="border: 0.5px solid black; padding: 10px">
                        {{authuser.username}}</div>
                    </li>
                    <li>
                        <h>이름</h>
                        <div style="border: 0.5px solid black; padding: 10px">
                        {{authuser.name}}</div>
                    </li>
                    <li>
                        <h>학번</h>
                        <div style="border: 0.5px solid black; padding: 10px">
                        {{authuser.undergrad}}</div>
                    </li>
                    <li>
                        <input required id="major" type="text" placeholder="학 과" name="major"/>
                    </li>
                        <li>
                            <input required id="adress" type="text" placeholder="물건이 배송될 주소" name="adress"/>
                        </li>
                        <li>
                            <input required id="phone" type="text" placeholder="연락처" name="phone"/>
                        </li>
                        <li>
                            <input required id="password" type="password" placeholder="비밀번호" minlength="10" maxlength="14" name="password"/>
                            <div id="passwordError" class="error"></div>
                        </li>
                        <li>
                            <input required id="passwordcheck" type="password" placeholder="비밀번호 확인" minlength="10" maxlength="14" name="passwordcheck"/>
                            <div id="passwordCheckError" class="error"></div>
                        </li>
                        <li>
                            <input type="submit" class="btn btn-primary" value="변경" />
                        </li>
                        
                    </form>
                </ul>
            </header>
        </body>
</html>
