<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - ChangePasswd</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}
        <body>
            <header class="sign-in">
                <h2>비밀번호 변경</h2>
                <ul>
                    <form action="{%url 'changepassword'%}" method="post" id="password_form">
                        {% csrf_token %}
                        <li>
                            <input required id="password" type="password" placeholder="현재 비밀번호" minlength="10" maxlength="14" name="password"/>
                            <div id="passwordError" class="error"></div>
                        </li>
                        <li>
                            <input required id="password1" type="password" placeholder="비밀번호" minlength="10" maxlength="14" name="password1"/>
                            <div id="passwordError" class="error"></div>
                        </li>
                        <li>
                            <input required id="password2" type="password" placeholder="비밀번호 확인" minlength="10" maxlength="14" name="password2"/>
                            <div id="passwordCheckError" class="error"></div>
                        </li>
                            </div>
                            <input style="width: 300px; height: 50px;" type="submit" value="확인" class="password_submit" onclick="submit()">
                    </form>
                </ul>
            </header>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script type="text/javascript">
                var numbers = ""
                function submit() {
                    var pw = document.getElementById("password1").value;
                    var pwcheck = document.getElementById("password2").value;
                    if (pw != pwcheck) {
                        alert("비밀번호가 일치하지 않습니다.")
                    } else {
                        alert("비밀번호가 변경되었습니다.")
                        }
                }
            </script>
        </body>
    </body>
</html>