<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - ChangePasswd</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}
        <body>
            <header class="sign-in">
                <h2>비밀번호 변경</h2>
                <ul>
                    <form id="sign-in">
                        <h></h>
                        <li>
                            <input required id="passwd" type="password" placeholder="현재비밀번호" minlength="8" maxlength="12" name="passwd"/>
                        </li>
                        <li>
                            <input required id="newpasswd" type="password" placeholder="새 비밀번호" minlength="8" maxlength="12" name="newpasswd"/>
                        </li>
                        <li><h style="color: gray;">문자, 숫자, 특수문자(!@#$)를 포함한 10~12자리로 작성해주세요.</h></li>
                        <li>
                            <input required id="newpasswdck" type="password" placeholder="새 비밀번호 확인" minlength="8" maxlength="12" name="newpasswdck"/>
                        </li>
                        <li>
                            <input type="submit" value="변경하기" />
                        </li>
                    </form>
                </ul>
            </header>
        </body>
    </body>
</html>
