<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - Detail</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}

        <!-- Login Section -->
        <body>
            <header class="regist">
                <h2>상세내용</h2>
                <ul>
                    <form id="regist">
                        <div class="container">
                                <table class="table table-sm table-hover">
                                    <thead style="border-top: 1px solid #dee2e6;">
                                        <tr class="text-center">
                                            <th style="font-weight: bold; font-size: 16px;">제목</th>
                                            <th style="font-weight: bold; font-size: 16px;">작성자</th>
                                            <th style="font-weight: bold; font-size: 16px;">등록일</th>
                                            <th style="font-weight: bold; font-size: 16px;">만료일</th>
                                            <th style="font-weight: bold; font-size: 16px;">가격</th>
                                        </tr>

                
                                        {% for article in articles %}
                                        <tr class="table-secondary text-center" style="font-weight: bold; cursor:pointer;" onclick="location.href='/detail/'">
                                            <td>{{ article.title }}</td>
                                            <td class="text-left" style="width:50%"><a id="article-{{ article.id }}"><i class="fas fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;{{ article.regist_code|truncatechars:30 }}</a></td>
                                            <td>{{ article.regist_date }}</td>
                                            <td>{{ article.exp_date}}</td>
                                            <td>{{ article.price }}</td>
                                        </tr>
                                        {% endfor %}

                
                                    </thead>
                                   
                                </table>
                    </form>
                </ul>
            </header>
        </body>
    </body>
</html>
