<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
      
        <title>borrou - Manage</title>

        <link rel="stylesheet" media="all" href="https://d1unjqcospf8gs.cloudfront.net/assets/home/home-0ca0066565dd835558a4980e892d44107db566845f96558ffe5aefcee8c21853.css">
        <script src="https://connect.facebook.net/signals/config/992961397411651?v=2.9.85&amp;r=stable" async=""></script><script src="https://connect.facebook.net/en_US/sdk.js?hash=522182bc1a745d259d7dbd9e5d10f62d" async="" crossorigin="anonymous"></script><script async="" src="https://websdk.appsflyer.com?st=banners&amp;"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PJSK4QL"></script><script async="" src="//connect.facebook.net/en_US/fbevents.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js"></script><script src="https://d1unjqcospf8gs.cloudfront.net/assets/home/home-4ea6debb9f20b5f3862b2f1d021bb852203de53d0ed27a030727a014927e3652.js"></script>
   <body>   
        {% include './navigation.html' %}
        <section class="home-main-section background-gray">
            <div class="home-hot-content">
                <h1 class="home-main-title text-center home-hot-title" style="margin-bottom: 35px;">
                    대여해준 물건
                </h1>
                <div class="cards-wrap">
                    {% if q %}
                    {% else %}

                    {% for article in articles %}
                    <article class="card-top ">
                        <a class="card-link " data-event-label="474702600" href="{% url 'manage_detail' article.ident%}">
                            <div class="card-photo ">
                                <img alt="다혼 자전거 판매합니다" src="https://dnvefa72aowie.cloudfront.net/origin/article/202210/83cbd5362a585918a9b4a7354984ecbfb20208da27522d9b39579099b2cfe1f9.webp?q=82&amp;s=300x300&amp;t=crop">
                            </div>
                            <div class="card-desc">
                                <h2 class="card-title">{{ article.title }}</h2>
                                <div class="card-price ">
                                    {{ article.price }}원
                                </div>
                                <div class="card-counts">
                                    <span>{{ article.categorie }}</span> ∙ <span>{{ article.exp_date | date:"m-d" }}</span>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endfor %}
                    {% endif %}
                </article>
            </div>
        </section>
    </body>
</html>