<!DOCTYPE html> 

<html lang="en"> 

<head> 
  <title>Visitor Table</title> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> 
</head> 

<body> 
<div class="container"> 
  <h2>Visitor Table</h2> 
  <p>방문자 테이블에는 방문자의 이름, 학번, 체온, 방문건물, 방문층수를 담았습니다.</p>             
  <table class="table   table-dark"> 
    <thead> 
      <tr> 
        <th>이름</th> 
        <th>학번</th> 
        <th>체온</th>
        <th>건물</th>
        <th>층수</th>
      </tr> 
    </thead> 
    <tbody>
        {% for visitor in visitors %}
          <tr>
            <td>{{visitor.visname}}</td>
            <td>{{visitor.viscode}}</td>
            <td>{{visitor.temp}}</td>
            <td>{{visitor.uniname}}</td>
            <td>{{visitor.visfloor}}</td>
          </tr>
        {%endfor%}
    </tbody>
  </table> 
</div> 
</body> 
</html>