<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - Wish</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}
        <!-- Login Section -->
        <body>
            <header class="borrow">
                <h2>찜 목록</h2>
                <ul>
                    <form id="wish">
                        <a href="#" class="product" style="display: flex;">
                            <a href="../app/wish_detail.html">
                                <img src="" width="100" height="100px">
                                <div class="name">
                                    우산
                                </div>
                                <div class="price">
                                    2.000원
                                </div>
                                <div class="expiredate">
                                    ~2022.09.30
                                </div>
                            </a>
                            <input type="button" value="찜">
                        </a>
                        <div>
                            <li><a href="">삭제</a></li>
                        </div>
                    </form>
                </ul>
            </header>
        </body>
    </body>
</html>
