<!DOCTYPE html>
<html lang="en">
    <head>
        {% include './all.html' %}
        <title>borr0u - Wish_Detail</title>
    </head>
    <body id="page-top">
        {% include './navigation.html' %}
        <!-- Login Section -->
        <body>
            <header class="regist">
                <h2>상세내용</h2>
                <ul>
                    <form id="regist">
                        <li>
                            <h>상품이름</h>
                            <div style="border: 1px solid black; padding: 10px;"></div>
                        </li>
                        <!-- 사진 첨부 부분 -->
                        <li>
                            <img src="" alt="">
                        </li>
                        <li>
                            <!-- 카테고리 선택 부분 -->
                            <h>카테고리</h>
                            <div style="border: 1px solid black; padding: 10px;"></div>
                        </li>
                        <li>
                            <h>가격</h>
                            <div style="border: 1px solid black; padding: 10px;"></div>
                        </li>
                        <li>
                            <h>유의사항</h>
                            <div style="border: 1px solid black; padding: 10px;"></div>
                        </li>
                        <li>
                            <h>대여기간</h>
                        </li>
                        <li>
                            <div style="border: 1px solid black; padding: 10px;"></div>
                        </li>
                        <li>
                            <h>등록코드</h>
                            <div style="border: 1px solid black; padding: 10px;"></div>
                        </li>
                        <div class="button">
                            <input type="button" value="나가기" />
                        </div>
                    </form>
                </ul>
            </header>
        </body>
    </body>
</html>
